@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/homePageStyles.css" rel="stylesheet" />
</head>
<body>
<div>
    <div class="enter-name">
        Enter your name
        @Html.TextBoxFor(x => x);
    </div>
    <div class="center-image">
        <img src="~/Content/Images/logo.png" alt="millionaire-logo"/>
    </div>


</div>
</body>
</html>
