@model Dictionary<string, int>

<div class="modal-header" style="float: right; margin-right: 20px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>

<div style="float:left">
    @foreach (KeyValuePair<string, int> entry in Model)
    {
        <div style="height: 25px;padding-right: 25px;">@entry.Key</div>
    }
</div>
@{ var colors = new List<string>
   {
       "red", "blue", "green", "yellow"
   };
    int i = 0;
}
@foreach (KeyValuePair<string, int> entry in Model)
{
    var width = entry.Value * 80 / 100;
    <div>
        <button style="width: @width%; min-width: 5%; background-color: @colors[i]"> @entry.Value% </button>
    </div>
    i++;
}

