@model MillionaireGame.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/homePageStyles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="text">
            @Html.ValidationSummary()
            @using (Html.BeginForm("LogUser", "Game", FormMethod.Post))
            {
                <span>Enter your name: </span>
                <span style="color: black">@Html.TextBoxFor(x => x.Username)</span>
                <button type="submit" class="btn btn-info">Play</button>
            }
        </div>
        <div class="center-image">
            <img src="~/Content/Images/logo.png" alt="millionaire-logo" />
        </div>


    </div>
</body>
</html>
