@model MillionaireGame.Models.MessageModel

@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        OnSuccess = "confirmSending",
        OnFailure = "invalidEmail"
    };
}

<div class="modal-header" style="float: right; margin-right: 15px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>

<div>
    @using (Ajax.BeginForm("SendEmailToFriend", ajaxOptions))
    {
        @Html.HiddenFor(x => x.QuestionId)

        <div class="form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" , id= "style-for-email" }});
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="sendButton" class="btn btn-default email-confirm-text">Send</button>
            </div>
        </div>
        <div>
           

        </div>
    }
</div>

<div class="confirmText">
    <p id="paragraph">Invalid email address</p>
</div>


<script type="text/javascript">
    var paragraph = $("#paragraph");
    paragraph.hide();
    function confirmSending() {
        paragraph.hide();
        $("#sendButton").hide();
        var paragraphText = $("<p>Your email has been send</p>");
        paragraphText.css("margin-top","11em");
        paragraphText.css("margin-left","15em");
        paragraphText.css("position","absolute");
        $(".confirmText").append(paragraphText);
        var closeButton = $("<button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>");
        closeButton.css("margin-top", "13em");
        closeButton.css("margin-left", " -32em");
        closeButton.css("position", "absolute");
        $(".confirmText").append(closeButton);
        $("#friendCall").hide();
        $("#friendCallCrossed").show();
    }
    function invalidEmail() {
        paragraph.show();
    }
</script>

