@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div>
    Congratulations, @Session["username"]
    Your have won 1 000 000$
    @Html.ActionLink("Play again", "Index", "Game", new { @class = "btn btn-primary" })

</div>
</body>
</html>
