@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/victoryStyles.css" rel="stylesheet" />
</head>

<body>
<div>
    <p>Congratulations, @Session["username"]</p>
    <p>Your won 1 000 000$</p>
    @Html.ActionLink("Play again", "Index", "Game", new { @class ="btn btn-default play" })
</div>
</body>
</html>
